In [15]:
import numpy as np
import pandas as pd

In [3]:
df_dth = pd.read_csv('CovidDeaths.csv')
df_vacc = pd.read_csv('CovidVaccinations.csv')

In [ ]:
df_dth.isnull().sum()

In [ ]:
df_vacc.isnull().sum()

In [94]:
df_dth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85171 entries, 0 to 85170
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               85171 non-null  object
 1   continent                              81060 non-null  object
 2   location                               85171 non-null  object
 3   date                                   85171 non-null  datetime64[ns]
 4   total_cases                            83072 non-null  float64
 5   new_cases                              83070 non-null  float64
 6   new_cases_smoothed                     82069 non-null  float64
 7   total_deaths                           73408 non-null  float64
 8   new_deaths                             73566 non-null  float64
 9   new_deaths_smoothed                    82069 non-null  float64
 10  total_cases_per_million                82623 non-null  float64
 11  new_cases_per_million                  82621 non-null  float64
 12  new_cases_smoothed_per_million         81625 non-null  float64
 13  total_deaths_per_million               72972 non-null  float64
 14  new_deaths_per_million                 73130 non-null  float64
 15  new_deaths_smoothed_per_million        81625 non-null  float64
 16  reproduction_rate                      68942 non-null  float64
 17  icu_patients                           8684 non-null   float64
 18  icu_patients_per_million               8684 non-null   float64
 19  hosp_patients                          10814 non-null  float64
 20  hosp_patients_per_million              10814 non-null  float64
 21  weekly_icu_admissions                  789 non-null    float64
 22  weekly_icu_admissions_per_million      789 non-null    float64
 23  weekly_hosp_admissions                 1295 non-null   float64
 24  weekly_hosp_admissions_per_million     1295 non-null   float64
 25  new_tests                              38945 non-null  float64
 26  total_tests                            38652 non-null  float64
 27  total_tests_per_thousand               38652 non-null  float64
 28  new_tests_per_thousand                 38945 non-null  float64
 29  new_tests_smoothed                     44625 non-null  float64
 30  new_tests_smoothed_per_thousand        44625 non-null  float64
 31  positive_rate                          42904 non-null  float64
 32  tests_per_case                         42311 non-null  float64
 33  tests_units                            46079 non-null  object
 34  total_vaccinations                     9374 non-null   float64
 35  people_vaccinated                      8744 non-null   float64
 36  people_fully_vaccinated                6431 non-null   float64
 37  new_vaccinations                       7954 non-null   float64
 38  new_vaccinations_smoothed              15092 non-null  float64
 39  total_vaccinations_per_hundred         9374 non-null   float64
 40  people_vaccinated_per_hundred          8744 non-null   float64
 41  people_fully_vaccinated_per_hundred    6431 non-null   float64
 42  new_vaccinations_smoothed_per_million  15092 non-null  float64
 43  stringency_index                       72207 non-null  float64
 44  population                             84622 non-null  float64
 45  population_density                     79274 non-null  float64
 46  median_age                             76706 non-null  float64
 47  aged_65_older                          75830 non-null  float64
 48  aged_70_older                          76276 non-null  float64
 49  gdp_per_capita                         77046 non-null  float64
 50  extreme_poverty                        52449 non-null  float64
 51  cardiovasc_death_rate                  77634 non-null  float64
 52  diabetes_prevalence                    78779 non-null  float64
 53  female_smokers                         60828 non-null  float64
 54  male_smokers                           59931 non-null  float64
 55  handwashing_facilities                 39007 non-null  float64
 56  hospital_beds_per_thousand             70847 non-null  float64
 57  life_expectancy                        80833 non-null  float64
 58  human_development_index                77517 non-null  float64
dtypes: datetime64[ns](1), float64(54), object(4)
memory usage: 38.3+ MB

In [93]:
df_dth['date']= pd.to_datetime(df_dth['date'].str.strip(), format='mixed')

#

# Global Numbers

In [87]:
global_numbers = pd.DataFrame(index=['sum'])
tot_cases = df_dth[df_dth['continent'].notna()]['new_cases'].sum()
tot_deaths = df_dth[df_dth['continent'].notna()]['new_deaths'].sum()
death_percentage = tot_deaths/tot_cases*100
global_numbers[['total_cases', 'total_deaths', 'death_percentage']]= [tot_cases, tot_deaths, death_percentage]
global_numbers

     total_cases  total_deaths  death_percentage
sum  150574977.0     3180206.0          2.112041

In [88]:
global_numbers.to_csv('global_numbers.csv', index=False)

#

# Death Percentage Per country

In [98]:
death_TS= df_dth[['date', 'location', 'new_deaths']]

In [99]:
death_TS.to_csv('death_TS.csv', index=False)

##

In [10]:
df.to_csv('out.csv', index=False)